/**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: aliceblue;
    font-family: tahoma;
    font-size: 16px;
    overflow-x: hidden;
}

/* Nav */

nav{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    border-top:5px solid #49A0D5;
    z-index: 100;
}


.logo img{
    top: 0;
    padding: 10px;
    background-color: #49A0D5 ;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 100px;
    margin-left: 20px;
    position: absolute;
}

.nav-link {
    right: 0;
    /* position: inherit; */
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link ul{
    list-style: none;
    display: flex;
    align-items: center;
    
}

.nav-link ul li a{
    padding: 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: .5s;
    color: #332d2d;

}

.nav-link ul li a:hover{
    background-color: #49A0D5;
    color: aliceblue;
}

nav button{
    position: relative;
    width: 100px;
    top:-5px;
    background-color: #49A0D5;
    border: none;
    height: 50px;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
    
}

nav button a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav button a:hover{
    opacity: .8;
}
/* Akhir Nav */

/* banner */
.banner{
    /* height: 1080px; */
    margin-top: 60px;
    display: flex;
    margin-bottom: -10px;
}

.banner img{
    width:100% ;
    /* border-bottom: 70px solid #49A0D5; */
}



/* tentang kami */
.tentang-kami{
    height: 400px;
    background: #49A0D5;
    text-align: center;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    color: white;
}

.tentang-kami .isi{
    margin: 0 50px;

}

.tentang-kami button{
    width: 100px;
    height: 40px;
    align-content: center;
    margin: 0 auto;
    background-color: white;
    border: none;
    border-radius: 5px;
}

.tentang-kami button:hover{
    opacity: .8;
    animation: tombol 1s;
}

/* Statistik */

.statistik{
    height: 500px;
    margin: 20px 0;
    display: flex;
    width: 100%;
    background-color: aliceblue;
}

.text-2{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    align-content: center;
    column-gap: 20px;
    text-align: justify;
}

.text-2 h1{
    color: #49A0D5;
    margin-bottom: 40px;
}

.text-2 p{
    font-size: 18px;
    font-weight: 100;
    color: #332d2d;
}

.cards{
    display: flex;
    row-gap: 20px;
    width: 50%;
    flex-wrap: wrap;
    margin: 0 50px;
    flex-direction: column;
}

.card{
    display: flex;
    background-color: white;
    width: 250px;
    flex-direction: column;
    height: 200px;
    margin: 10px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(53, 50, 50, 0.1);
}

.card h2{
    color: #49A0D5;
    font-size: 50px;
}

.quotes{
    height: 300px;
    text-align: center;
    background-color: #49A0D5;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color:aliceblue;
}

.quotes p:nth-child(1){
    font-size: 30px;
}

.quotes h3{
    font-size: 20px;
}

.berita{
    /* position: relative; */
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'judul  judul opsi'
    'card card tagline'
    'card card tagline';
    background-color: aliceblue;
    margin: 70px 20px;
    align-items: center;
    justify-content: center;
}

.berita h1{
    grid-area:judul;
    color: #49A0D5;
}

.berita .opsi{
    grid-area:opsi;
    color: #49A0D5;
    text-align: end;
    margin-right: 20px;
}
.berita .opsi a{
    color: #49A0D5;
    
}

.cards-berita{
    grid-template-columns:repeat(2,  minmax(200px, 350px));
    grid-template-rows: 200px 200px ;
    row-gap: 50px;
    column-gap: 50px;
    /* background-color: #49A0D5; */
    display: grid;
    grid-area: card;
    
}

.card-berita{
   margin: 20px 0 20px 20px; 
   
}

.card-berita img{
    border-radius: 5px;
    width:100%;

}

.card-berita .jdl-berita{
    position: relative;
    top: -35%;
    left: 10px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
    color: rgb(252, 242, 242);
    text-shadow: 0 0 2px 2px rgba(0, 0, 0, 08);
}

.jdl-berita a{
    color: aliceblue;
}

.tagline{
    grid-area: tagline;
    position: relative;
    top: -40px;
}

.split{
    width: 350px;
}

.tagline a{
    text-decoration: none;
    color:black;
    font-size: 16px;
    padding: 5px;
}

.tagline a p, .jdl-berita a p{
    font-size: 12px;
    letter-spacing: 1px;
}


/* Footer */

.ident{
    height: 300px;
    display: flex;
    justify-content: space-around;

}

.logo-foot{
    display: flex;
    width: 50%;
    padding: 10px;
}

.logo-foot img{
    width:200px;
    height:200px;
    margin:0 20px;
}

.foot-link{
    display: flex;
    /* text-align: end; */
    /* background: #000; */
    width: 50%;
    justify-content:start 
    
}

.foot-link ul{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    margin-right: 100px;
    row-gap: 20px;
}


.foot-link ul li a{
    color: black;
    font-size: 20px;
   

}

footer{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    margin: 0 20px;
}


/* Animasi */

@keyframes tombol {
    0%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }
}


@media screen and (min-width:1020px) {
    .banner{
        display: block;
    }
}